.sh
.terraform
.terraform.lock.hcl
terraform.tfstate
.terraform*
terraform.tfstate.backup
.DS_Store
*.key
*.pfx
*.csr
*.pem
*.cert
plan.md
.DS_Store
.gitignore
.*
# JetBrains IDEs
.idea
# Terragrunt
.terragrunt-cache
